<div class="modal-header">
  <h4 class="modal-title" translate="modal.forget.forget-device">Forget device?</h4>
</div>
<div class="modal-body">
  <p translate="modal.forget.forget-device-message-1">Would you like myBWallet to forget your device or to remember it, so that
  it is still visible even while disconnected?</p>
  <p class="text-muted" translate="modal.forget.forget-device-message-2">If you choose to remember the device, we will not ask
  you this question next time you disconnect the device.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()" translate="modal.forget.remember">Remember</button>
  <button type="button" class="btn btn-primary" ng-click="$close()" translate="modal.forget.forget">Forget</button>
</div>
