<div ng-controller="DeviceCtrl">

  <div ng-if="!device.isConnected()" class="alert alert-warning" translate="device.wipe.connect-device-message">
    <strong>Please connect your device</strong> to access this section.
  </div>

  <div ng-controller="DeviceWipeCtrl">

    <fieldset ng-disabled="!device.isConnected()">
      <div class="alert alert-danger alert-withicon alert-lg">
        <span class="glyphicon glyphicon-warning-sign alert-icon"></span>
        <h4 translate="device.wipe.wipe-device-confirmation">Do you really want to wipe the device?</h4>
        <p translate="device.wipe.wipe-device-message">All data from the device will be lost! You can recover your funds
        using recovery seed.<br></p>
        <p class="alert-buttons">
          <button class="btn btn-danger"
                  ng-click="wipeDevice()" translate="device.wipe.wipe">Wipe</button>
          <a href="#/device/{{device.id}}" class="btn btn-link" translate="device.wipe.cancel">Cancel</a>
        </p>
      </div>
    </fieldset>

  </div>

</div>
